.loginContainer {
    display: flex;
    height: 100%;
    width: 100%;

}
.loginImg {
    width: 683px;
    height: 768px;
    opacity: 1;
}
.loginPage {
    background-color: #F3FFF3;
}
.loginForm {
    width: 435px;
    height: 346px;
    top: 211px;
    left: 827px;
    opacity: 1;
    gap: 24px;
    background-color: white;
}